<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/sanpham/add_sanpham.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="main">
        <div class="menu">
            <a href="../home.html" class="link__home">
                <div class="menu__logo">
                    <div class="logo">
                        <img src="../../images/banner_logo/cu_dem_pro.png" alt="">
                    </div>
                    <div class="name__logo">
                        <h2>Cudem.<span class="pro">Pro</span></h2>
                    </div>
                </div>
            </a>

            <div class="title">
                <ul class="menu__title">
                    <li><a href="../loai/loai.html">Loại Hàng</a></li>
                    <li><a href="#">Sản Phẩm</a></li>
                    <li><a href="../giohang/giohang.html">Giỏ Hàng</a></li>
                    <li><a href="../khachhang/khachhang.html">Khách Hàng</a></li>
                    <li><a href="../binhluan/binhluan.html">Bình Luận</a></li>
                    <li><a href="../thongke/thongke.html">Thống Kê</a></li>
                    <li><a href="#">Vào WEBSITE</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="header">
                <div class="user">
                    <div class="header__img-user">
                        <img src="../../images/product/sp2.jpg" alt="">
                    </div>
                    <div class="header__name-user">
                        <p>Xin chào <span class="r9e80">Tuấn Anh</span></p>
                        <div class="logout">
                            <p><a href="#">Đăng Xuất</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="Manipulation">
                <div class="hello">
                    <h1>QUẢN TRỊ HÀNG HÓA</h1>
                </div>
                <div class="btn__Manipulation">
                    <a href="sanpham.html"><button class="t9d0ea t9d0ea1">Quay Lại</button></a>
                </div>
            </div>

            <div style="margin-top: 215px;"></div>

            <form action="" method="" enctype="multipart/form-data">
                <div class="box">
                    <div class="box__input">
                        <label for="">Tên Sản Phẩm</label>
                        <input type="text" class="input" name="ten_sp">

                        <label for="">Đơn Giá</label>
                        <input type="text" class="input" name="don_gia">

                        <label for="">Giảm giá</label>
                        <input type="text" class="input" name="giam_gia">

                        <label for="">Ảnh Sản Phẩm</label>
                        <input type="file" class="input" name="anh_sp">
                    </div>
                    <div class="box__input">
                        <label for="">Trạng Thái</label>
                        <select name="dac_biet" class="input" id="">
                            <option value="1">Đặc Biệt</option>
                            <option value="2">Bình Thường</option>
                        </select>

                        <label for="">Ngày Nhập</label>
                        <input type="date" class="input" name="ngay_nhap">

                        <label for="">Loại</label>
                        <select name="id_loai " class="input" id="">
                            <option value="">điện thoại</option>
                            <option value="">Laptop</option>
                        </select>
                    </div>
                </div>


                <label for="" class="textarea__lable">Mô Tả</label>
                <textarea name="mo_ta" class="mota textarea" cols="30" rows="10"></textarea>



                <button class="t9d0ea btn_t9d0ea2 t9d0ea1" type="">Cập nhật</button>
            </form>
        </div>
    </div>
</body>

</html>