<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/khachhang/add_khachhang.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="main">
        <div class="menu">
            <a href="../home.html" class="link__home">
                <div class="menu__logo">
                    <div class="logo">
                        <img src="../../images/banner_logo/cu_dem_pro.png" alt="">
                    </div>
                    <div class="name__logo">
                        <h2>Cudem.<span class="pro">Pro</span></h2>
                    </div>
                </div>
            </a>

            <div class="title">
                <ul class="menu__title">
                    <li><a href="../loai/loai.html">Loại Hàng</a></li>
                    <li><a href="../sanpham/sanpham.html">Sản Phẩm</a></li>
                    <li><a href="../giohang/giohang.html">Giỏ Hàng</a></li>
                    <li><a href="#">Khách Hàng</a></li>
                    <li><a href="../binhluan/binhluan.html">Bình Luận</a></li>
                    <li><a href="../thongke/thongke.html">Thống Kê</a></li>
                    <li><a href="#">Vào WEBSITE</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="header">
                <div class="user">
                    <div class="header__img-user">
                        <img src="../../images/product/locfuho.jpg" alt="">
                    </div>
                    <div class="header__name-user">
                        <p>Xin chào <span class="r9e80">Tuấn Anh</span></p>
                        <div class="logout">
                            <p><a href="#">Đăng Xuất</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="Manipulation">
                <div class="hello">
                    <h1>QUẢN TRỊ KHÁCH HÀNG</h1>
                </div>
                <div class="btn__Manipulation">
                    <a href="khachhang.html"><button class="t9d0ea t9d0ea1">Quay Về</button></a>
                </div>
            </div>

            <div style="margin-top: 215px;"></div>
            <form action="" method="" enctype="multipart/form-data">
                <div class="box">
                    <div class="box__1 box__input">
                        <label for="">Tên khách Hàng</label>
                        <input type="text" class="input" name="ten_kh">

                        <label for="">email</label>
                        <input type="text" class="input" name="email">

                        <label for="">Password</label>
                        <input type="text" class="input" name="password">
                    </div>

                    <div class="box__2 box__input">
                        <label for="">avatar</label>
                        <input type="file" class="input" name="anh_kh">

                        <label for="">Vai Trò</label>
                        <select name="vai_tro" class="input" id="">
                            <option value="1">admin</option>
                            <option value="2">khách Hàng</option>
                        </select>
                    </div>
                </div>



                <button class="t9d0ea btn_t9d0ea2 t9d0ea1">Cập nhật</button>
            </form>
        </div>
    </div>
</body>

</html>