<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/khachhang/khachhang.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="main">
        <div class="menu">
            <a href="../home.html" class="link__home">
                <div class="menu__logo">
                    <div class="logo">
                        <img src="../../images/banner_logo/cu_dem_pro.png" alt="">
                    </div>
                    <div class="name__logo">
                        <h2>Cudem.<span class="pro">Pro</span></h2>
                    </div>
                </div>
            </a>

            <div class="title">
                <ul class="menu__title">
                    <li><a href="../loai/loai.html">Loại Hàng</a></li>
                    <li><a href="../sanpham/sanpham.html">Sản Phẩm</a></li>
                    <li><a href="../giohang/giohang.html">Giỏ Hàng</a></li>
                    <li><a href="#">Khách Hàng</a></li>
                    <li><a href="../binhluan/binhluan.html">Bình Luận</a></li>
                    <li><a href="../thongke/thongke.html">Thống Kê</a></li>
                    <li><a href="#">Vào WEBSITE</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="header">
                <div class="user">
                    <div class="header__img-user">
                        <img src="../../images/product/locfuho.jpg" alt="">
                    </div>
                    <div class="header__name-user">
                        <p>Xin chào <span class="r9e80">Tuấn Anh</span></p>
                        <div class="logout">
                            <p><a href="#">Đăng Xuất</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="Manipulation">
                <div class="hello">
                    <h1>QUẢN TRỊ KHÁCH HÀNG</h1>
                </div>
                <div class="btn__Manipulation">
                    
                    <a href="add_khachhang.html"><button class="t9d0ea t9d0ea1">Nhập Thêm</button></a>
                </div>
            </div>

            <div style="margin-top: 215px;"></div>
            
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Tên Khách Hàng</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Ảnh Khách Hàng</th>
                    <th>Vai Trò</th>
                    <th>Thao Tác</th>
                </tr>
                <tr class="d0r94">
                    <td>1</td>
                    <td class="kh_2">Lộc Fuho</td>
                    <td class="kh_3">Locfuho@gmail.com</td>
                    <td>12345</td>
                    <td><img src="../../images/product/locfuho.jpg" class="img__admin" alt=""></td>
                    <td>trùm</td>
                    <td class="kh_7">
                        <a href="edit_khachhang.html"><button class="t9d0ea">Edit</button></a>
                        <a href=""><button class="t9d0ea">Delete</button></a>
                    </td>
                </tr>
            </table>

            <div class="hihi" style="height: 1000px;"></div>
        </div>
    </div>
</body>

</html>