<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/binhluan/chitiet_bl.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="main">
        <div class="menu">
            <a href="../home.html" class="link__home">
                <div class="menu__logo">
                    <div class="logo">
                        <img src="../../images/banner_logo/cu_dem_pro.png" alt="">
                    </div>
                    <div class="name__logo">
                        <h2>Cudem.<span class="pro">Pro</span></h2>
                    </div>
                </div>
            </a>

            <div class="title">
                <ul class="menu__title">
                    <li><a href="../loai/loai.html">Loại Hàng</a></li>
                    <li><a href="../sanpham/sanpham.html">Sản Phẩm</a></li>
                    <li><a href="../giohang/giohang.html">Giỏ Hàng</a></li>
                    <li><a href="../khachhang/khachhang.html">Khách Hàng</a></li>
                    <li><a href="#">Bình Luận</a></li>
                    <li><a href="../thongke/thongke.html">Thống Kê</a></li>
                    <li><a href="#">Vào WEBSITE</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="header">
                <div class="user">
                    <div class="header__img-user">
                        <img src="../../images/product/sp2.jpg" alt="">
                    </div>
                    <div class="header__name-user">
                        <p>Xin chào <span class="r9e80">Tuấn Anh</span></p>
                        <div class="logout">
                            <p><a href="#">Đăng Xuất</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="Manipulation">
                <div class="hello">
                    <h1>QUẢN TRỊ BÌNH LUẬN</h1>
                </div>
                <div class="btn__Manipulation">
                    <a href="binhluan.html"><button class="t9d0ea t9d0ea1">Quay Lại</button></a>
                </div>
            </div>
            <div style="margin-top: 215px;"></div>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Tên Khách Hàng</th>
                    <th>Ngày Bình Luận</th>
                    <th>Nội dung</th>
                    <th>Thao Tác</th>
                </tr>
                <tr class="d0r94">
                    <td>1</td>
                    <td>âlkjsd</td>
                    <td>12-11-2022</td>
                    <td class="ct_4">chán vl</td>
                    <td class="ct_5">
                        <a href="edit_binhluan.html"><button class="t9d0ea">Edit</button></a>
                        <a href=""><button class="t9d0ea">Delete</button></a>
                    </td>
                </tr>



            </table>
        </div>
    </div>
</body>

</html>