<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/chitiet.css">
    <link rel="stylesheet" href="themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div id="main">
        <header>
            <div class="header">
                <div class="header__nav">
                    <nav class="content">
                        <div class="content--left">
                            <p class="header--download">
                                Tải ứng dụng
                                <img src="images/header/QR-shopee.png" alt="" class="img--qr">
                            </p>
                            <p class="header--connect">Kết nối <i class="ti-facebook"></i> <i class="ti-instagram"></i>
                            </p>
                        </div>
                        <div class="content--right">
                            <div class="box__content--right">
                                <p class="header--notification">
                                    <i class="ti-bell"></i> Thông báo
                                </p>
                                <p class="header--register"><a href="">Đăng Ký</a></p>
                                <p class="header--login"><a href="">Đăng Nhập</a></p>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="header-logo-search">
                    <div class="header--logo">
                        <a href="trangchu.html"><img src="images/banner_logo/cu_dem.png" alt=""></a>
                    </div>
                    <div class="header--search">
                        <form action="" class="header__search--form">
                            <input type="text" class="header__search--input">
                            <button class="header__search--btn" type="submit"><i class="ti-search"></i></button>
                        </form>
                    </div>
                    <div class="header--shopping">
                        <div class="shopping">
                            <i class="ti-shopping-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </header>


       
        <div id="content">
           <div class="grid">
                <section class="briefing">
                    <div class="product-briefing">
                        <div class="product__briefing-images">
                            <!-- ảnh sản phẩm chi tiết-->
                            <div class="product__briefing--images-child">
                                <img src="images/product/sp5.jpg" alt="">
                            </div>
                            <div class="sub-child">
                                <div class="box">
                                    <img src="images/product/sp3.jpg" alt="">
                                </div>
                                <div class="box">
                                    <img src="images/product/sp3.jpg" alt="">
                                    
                                </div>
                                <div class="box">
                                    <img src="images/product/sp3.jpg" alt="">
                                    
                                </div>
                                <div class="box">
                                    <img src="images/product/sp3.jpg" alt="">
                                    
                                </div>
                                <div class="box">
                                    <img src="images/product/sp3.jpg" alt="">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="product__briefing-information">
                            <div class="product__briefing--information-child">
                                <!--tên sản phẩm , đánh giá , lượt bán-->
                                <div class="name-product__briefing">
                                    <h3>Quạt tản nhiệt G6 Làm mát điện thoại Phụ kiện chơi game Pubg Mobile giá rẻ cho điện thoại di động bảo hành 12 tháng</h3>
                                    <div class="flex__star">
                                        <div class="star">
                                            <p><span class="rqw1 rqw1-star">4.6</span> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i></p> 
                                        </div>
                                        <div class="evaluate">
                                            <p><span class="rqw1">6.6</span> Đánh giá</p> 
                                        </div>
                                        <div class="sell">
                                            <p><span class="">12.6</span> Đã Bán</p> 
                                        </div>
                                    </div>
                                </div>
                                <!-- giá sản phẩm -->
                                <div class="price_detail">
                                    <div class="price-product__briefing-original">
                                        <p>109.000đ</p>
                                    </div>
                                    <div class="price-product__briefing-sale">
                                        <p>69.000đ</p>
                                    </div>
                                </div>
                                <!-- vận chuyển -->
                                <div class="transport">
                                    <div class="transport-box">
                                    <p class="t9sa3">Vận Chuyển</p>
                                    </div>
                                    <div class="transport-box ">
                                        <p><i class="fa-solid fa-truck-arrow-right"></i> Miễn phí vận chuyển</p>
                                        <p class="padding__box t9sa3"><i class="fa-solid fa-jet-fighter"></i> Vận chuyển từ   <span class="q4rt">Nước ngoài</span></p>
                                        <p class="padding__box t9sa3">phí vận chuyển <span class="q4rt">0đ</span></p>
                                    </div>
                                    <div class="transport-box transport__box-3">
                                        <p>tới</p>
                                        <div class="q4rt"><p class="q4rt">Mĩ Đình 2, Nam Từ Liêm, Hà Nội</p></div>
                                    </div>
                                </div>
                                <!-- Màu Sắc -->
                                <div class="color">
                                    <div class="color-product__briefing">
                                        <p class="t9sa3">Màu sắc</p>
                                    </div>
                                    <div class="color-product__briefing-btn">
                                        <button>Màu 1</button>
                                        <button>Màu 2</button>
                                        <button>Màu 3</button>
                                        <button>Màu 4</button>
                                        <button>Màu 5</button>
                                        <button>Màu 6</button>
                                        <button>Màu 7</button>
                                    </div>
                                </div>
                                <!-- thêm giỏ hàng, mua hàng -->
                                <div class="goods">
                                    <div class="add-goods">
                                        <form action="">
                                            <button class="form-add__goods" name=""><i class="fa-solid fa-cart-plus"></i> Thêm vào giỏ hàng</button>
                                        </form>
                                        
                                    </div>
                                    <div class="Purchase-goods">
                                        <form action="">
                                            <button class="form-Purchase-goods" name="">Mua Ngay</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
           </div>
           <!-- Mô Tả sản phẩm -->
           <div class="grid">
            <section class="describe">
                <div class="describe__product">
                    <div class="ro8e9">
                        <div class="sub-ro8e9">
                                <p>MÔ TẢ SẢN PHẨM</p>
                        </div>
                    </div>

                    <div class="detail-describe">
                        <p class=""> ★★★ Liên hệ chúng tôi ★★★
                            Bạn thân mến: Tất cả các sản phẩm của chúng tôi đều được chúng tôi kiểm tra cẩn thận và kiểm tra cá nhân trước khi chúng tôi cung cấp cho bạn!
                            Hình ảnh sản phẩm sẽ có lỗi màu nhất định do vấn đề ánh sáng chụp, nếu bạn có bất kỳ câu hỏi nào xin vui lòng liên hệ với chúng tôi! 
                            Mô tả của sản phẩm được viết bằng tiếng Anh, nếu bạn không thể đọc nó tốt, xin vui lòng liên hệ với chúng tôi! Chúng tôi sẽ trả lời bạn càng sớm càng tốt! Cảm ơn bạn đã thông cảm!</p>
                    </div>
                </div>
            </section>
           </div>
           <!-- Đánh giá sản phẩm, bình luận của người dùng -->
           <div class="grid">
            <section id="comment__users">
                <div class="comment__user">
                    <div class="avatar">
                        <img src="images/product/product1.jpg" alt="">
                    </div>
                    <div class="comment__user-conntent">
                        <div class="name-user">
                            <p class="y40e8">baby One</p>
                            <p class="y40e9">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                            </p>
                            <p class="y40e2">2022-09-17</p>
                            <p class="y40e1">web như con c*c !!</p>
                        </div>
                    </div>
                </div>
                <div class="feedback">
                    <div class="sub__feedback">
                        <p>Phản hồi của người bán</p> <br>
                        <span>Đ*t cụ mày :)) thằng l*n này :V
                        </span>
                    </div>
                </div>
            </section>
           </div>
        </div>


        <footer>
            <div class="grid">
                <div class="footer">
                    <div class="footer-boxs">
                        <div class="footer-box">
                            <h4 class="footer__title">CHĂM SÓC KHÁCH HÀNG</h4>
                            <ul class="footer__list">
                                <li><a href="">Trung Tâm Trợ Giúp</a></li>
                                <li><a href="">Cú Đêm Blog</a></li>
                                <li><a href="">Cú Đêm Mall</a></li>
                                <li><a href="">Hướng Dẫn Mua Hàng</a></li>
                                <li><a href="">Hướng Dẫn Bán Hàng</a></li>
                                <li><a href="">Thanh Toán</a></li>
                                <li><a href="">Cú Đêm Xu</a></li>
                            </ul>
                        </div>
                        <div class="footer-box">
                            <h4 class="footer__title">VỀ CÚ ĐÊM shop</h4>
                            <ul class="footer__list">
                                <li><a href="">Giới Thiệu</a></li>
                                <li><a href="">Tuyển Dụng</a></li>
                                <li><a href="">Điều Khoản</a></li>
                                <li><a href="">Chính Sách Bảo Mật</a></li>
                                <li><a href="">Chính Hãng</a></li>
                                <li><a href="">Kênh Người Bán</a></li>
                                <li><a href="">Flash Sales</a></li>
                            </ul>
                        </div>
                        <div class="footer-box">
                            <h4 class="footer__title">THANH TOÁN</h4>
                            <ul class="footer__list">
                                <li><a href=""><img src="https://cf.shopee.vn/file/d4bbea4570b93bfd5fc652ca82a262a8" alt=""></a></li>
                                <li><a href=""><img src="https://cf.shopee.vn/file/9263fa8c83628f5deff55e2a90758b06" alt=""></a></li>
                                <li><a href=""><img src="https://cf.shopee.vn/file/5e3f0bee86058637ff23cfdf2e14ca09" alt=""></a></li>
                                
                            </ul>
                        </div>
                        <div class="footer-box">
                            <h4 class="footer__title">THEO DÕI CHÚNG TÔI TRÊN</h4>
                            <ul class="footer__list">
                                <li><a href=""><i class="ti-facebook"></i> facebook</a></li>
                                <li><a href=""><i class="ti-instagram"></i> instagram</a></li>
                                
                            </ul>
                        </div>
                        <div class="footer-box">
                            <h4 class="footer__title">TẢI ỨNG DỤNG SHOPEE NGAY THÔI</h4>
                            <img src="images/header/QR-shopee.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="end">
                <p>Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc Khánh, Quận Ba Đình, Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn</p>
                <p>Chịu Trách Nhiệm Quản Lý Nội Dung: Đinh Tuấn Anh - Điện thoại liên hệ: 024 73081221 (ext 4678)</p>
                <p>Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015</p>
                <p >© 2015 - Bản quyền thuộc về Công ty TNHH Cú Đêm</p>
            </div>
        </footer>
        
    </div>
</body>

</html>