<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/gio_hang.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="cart">
        <div class="header_cart">
            <div class="img_logo-header_cart">
                <a href="trangchu.html"> <img src="images/banner_logo/cu_dem_pro.png" alt=""></a>
            </div>
            <div class="text_left-header_cart">
                <p>Giỏ Hàng</p>
            </div>
            <div class="search-header_cart">
                <div class="input_search-header_cart"><input type="text" placeholder="  LƯU NGAY VOUCHER 11.11 CỰC HOT">
                </div>
                <div class="icon_search-header_cart"><button><i
                            class="fa-sharp fa-solid fa-magnifying-glass"></i></button></div>
            </div>
        </div>

        <!-- content_cart -->
        <div class="content_cart">
            <div class="text_content">
                <div class="icon_car"><i class="fa-solid fa-truck"></i></div>
                <div class="text_icon">
                    <p>Nhấn vào mục Mã giảm giá ở cuối trang để hưởng miễn phí vận chuyển bạn nhé!</p>
                </div>
            </div>

            <div class="title_content">
                <div class="checkbox-title_content">
                    <input type="checkbox">
                </div>
                <div class="text_sanpham1">
                    <p>Sản Phẩm</p>
                </div>
                <div class="text_dongia">
                    <p>Đơn Giá</p>
                </div>
                <div class="text_soluong">
                    <p>Số Lượng</p>
                </div>
                <div class="text_sotien">
                    <p>Số Tiền</p>
                </div>
                <div class="text_thaotac">
                    <p>Thao Tác</p>
                </div>
            </div>

            <div class="title_content_icon_store">
                <div class="checkbox-title_content">
                    <input type="checkbox">
                </div>
                <div class="icon_store"><i class="fa-solid fa-store"></i></div>
                <div class="text_icon_store">
                    <p>Thế giới di động Việt 360</p>
                </div>
                <div class="icon_mess"><i class="fa-solid fa-messages"></i></div>
            </div>

            <div class="table_product">
                <table>
                    <tr>
                        <td>
                            <div class="checkbox_sanpham"><input type="checkbox"></div>
                        </td>
                        <td>
                            <div class="img_sanpham"><img src="img/th.jpg" alt="" class=""></div>
                        </td>
                        <td class="text_sanpham">
                            <p>[SALE HOT][MỚI] Điện thoại Samsung Galaxy Note 20 Ultra...</p>
                        </td>
                        <td>
                            <div class="price_sanpham">
                                <p>₫2.790.000</p>
                            </div>
                        </td>
                        <td>
                            <div class="buttons_added">
                                <input aria-label="quantity" class="input-qty" max="Số tối đa" min="Số tối thiểu"
                                    name="" type="number" value="">
                            </div>
                        </td>
                        <td>
                            <div class="all_price">
                                <p>₫2.790.000</p>
                            </div>
                        </td>
                        <td>
                            <div class="delete"><a class="delete_link" href="">Xóa</a> <br><a class="relate_to" href="">
                                    Tìm sản phẩm tương tự </a></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="content2">
                <div class="icon_car2"><i class="fa-sharp fa-solid fa-truck-fast"></i></div>
                <div class="text_icon_car2">Giảm ₫40.000 phí vận chuyển đơn tối thiểu ₫0
                    <a href="">Tìm hiểu thêm</a>
                </div>
            </div>

            <div class="content3">
                <div class="voucher-content3"><i class="fa-solid fa-tags"></i>
                    <p>Shopee Voucher</p>
                </div>
                <div class="text_voucher"><a href="">Chọn Hoặc Nhập Mã</a></div>
            </div>
            <div class="content4">
                <div class="khoi_rong"></div>
                <div class="icon_coin"><i class="fa-brands fa-bitcoin"></i><p>Shopee Xu</p></div>
                <div class="text_icon_coin"><p>Bạn chưa chọn sản phẩm ?</p></div>
                <div class="price_0d"><p>-₫0</p></div>
            </div>

            <div class="content5">
                <div class="input_all">
                    <input type="checkbox">
                    <p class="all_text">Chọn tất cả (1)</p>
                    <a style="text-decoration: none;"href="">Xóa</a>
                    <p style="color: #ee4d2d;margin-left: 10px;line-height: 64px;">Lưu vào mục Đã thích...</p>
                </div>
                <div class="text_input_all"><p>Tổng thanh toán (0 Sản phẩm):</p><p style="color:#ee4d2d ;font-size:24px; padding-left: 5px;">₫0</p></div>
                <div class="button_buy"><button>Mua Hàng</button></div>
            </div>

           

            
        </div>
    </div>

    </div>
</body>

</html>