<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/my_account.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="main_user">
        <section>
            <div class="grid">
                <div class="update_account">
                    <div class="title">
                        <h2>Hồ Sơ Của Tôi</h2>
                        <p>Quản lí thông tin hồ sơ để bảo mật tài khoản</p>
                    </div>
                    <form action="" method="">

                    <div class="my_account">

                        <div class="my_account--in4">
                            <form action="" method="">
                                <p>Tên đăng nhập: 
                                </p>
                                <input type="text" class="input_in4">
                                <p>Email: 
                                </p>
                                <input type="text" class="input_in4">
                                <p>Số điện thoại: 
                                </p>
                                <input type="text" class="input_in4"> <br><br>
                                <select name="" >
                                    <option value="">Giới tính</option>
                                    <option value="">Nam</option>
                                    <option value="">Nữ</option>
                                    <option value="">Khác</option>
                                </select>
                               <a href="?ctr=my_pass">Đổi mật khẩu</a>
                            </form>
                        </div>
    
                        <div class="my_account--avatar">
                            <img src="images/avatar/coffee.jpg" alt="">
                                <input type="file" class="input_avatar">                             
                                <!-- <button class="btn_avatar">Chọn Ảnh</button> -->
                            </div>
                        </div>
                        <button type="submit" class="btn_account" name="btn_upload_pass">Xác nhận</button>

                    </form>
                </div>
            </div>
        </section>
    </div>
</body>

</html>