<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopee</title>
    <link rel="stylesheet" href="./fontawesome-free-6.1.1-web/css/all.css">
   
    <link rel="stylesheet" href="themify-icons/themify-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/product.css">
    <!-- <link rel="stylesheet" href="./header-footer.css"> -->
</head>
<body>
    <div class="main">
        <header>
            <div class="header">
                <div class="header__nav">
                    <nav class="content">
                        <div class="content--left">
                            <p class="header--download">
                                Tải ứng dụng
                                <img src="images/header/QR-shopee.png" alt="" class="img--qr">
                            </p>
                            <p class="header--connect">Kết nối <i class="ti-facebook"></i> <i class="ti-instagram"></i>
                            </p>
                        </div>
                        <div class="content--right">
                            <div class="box__content--right">
                                <p class="header--notification">
                                    <i class="ti-bell"></i> Thông báo
                                </p>
                                <p class="header--register"><a href="">Đăng Ký</a></p>
                                <p class="header--login"><a href="">Đăng Nhập</a></p>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="header-logo-search">
                    <div class="header--logo">
                        <a href="trangchu.html"><img src="images/banner_logo/cu_dem.png" alt=""></a>
                    </div>
                    <div class="header--search">
                        <form action="" class="header__search--form">
                            <input type="text" class="header__search--input">
                            <button class="header__search--btn" type="submit"><i class="ti-search"></i></button>
                        </form>
                    </div>
                    <div class="header--shopping">
                        <div class="shopping">
                            <i class="ti-shopping-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="grid">
                <div class="banner">
                    <a href="" class="banner__link">
                        <img src="./img/banner.jfif" alt="" class="banner__img">
                    </a>
                    <span class="banner__icon banner__icon-right">
                        <i class="fa-solid fa-angle-right"></i>
                    </span>
                    <span class="banner__icon banner__icon-left">
                        <i class="fa-solid fa-angle-left"></i>
                    </span>
                </div>

                <!-- category -->
                <div class="row">
                    <div class="col-2 cate">
                        <div class="cate__heading">
                            <span class="cate__heading-icon">
                                <i class="fa-solid fa-list"></i>
                            </span>
                            <span class="cate__heading-text">Tất Cả Danh Mục</span>
                        </div>
                        <div class="cate__list">
                            <p class="cate__list-item cate__list-item--selected">
                                <span class="cate__list-item-icon"><i class="fa-sharp fa-solid fa-caret-right"></i></span>
                                <a href="" class="cate__list-item-link">Phụ Kiện & Trang Sức Nữ</a></p>
                            <p class="cate__list-item">
                                <span class="cate__list-item-icon"><i class="fa-sharp fa-solid fa-caret-right"></i></span><a href="" class="cate__list-item-link">Nhẫn</a></p>
                            <p class="cate__list-item">
                                <span class="cate__list-item-icon"><i class="fa-sharp fa-solid fa-caret-right"></i></span><a href="" class="cate__list-item-link">Bông tai</a></p>
                            <p class="cate__list-item">
                                <span class="cate__list-item-icon"><i class="fa-sharp fa-solid fa-caret-right"></i></span><a href="" class="cate__list-item-link">Khăn choàng</a></p>
                            <p class="cate__list-item">
                                <span class="cate__list-item-icon"><i class="fa-sharp fa-solid fa-caret-right"></i></span><a href="" class="cate__list-item-link">Găng tay</a></p>
                            <p class="cate__list-item">
                                <span class="cate__list-item-icon"><i class="fa-sharp fa-solid fa-caret-right"></i></span><a href="" class="cate__list-item-link">Phụ kiện tóc</a></p>
                            <p class="cate__list-item cate__list-item-see-more">Thêm
                                <i class="fa-sharp fa-solid fa-angle-down"></i>
                            </p>
                        </div>
                    </div>

                    <div class="col-10 products">
                        <div class="product__sort">
                            <div class="product__sort-main">
                                <p class="product__sort-main-head">Sắp xếp theo</p>
                                <div class="btn__sort btn--primary">Phổ biến</div>
                                <div class="btn__sort">Mới nhất</div>
                                <div class="btn__sort">Bán chạy</div>
                                <div class="btn__sort-price">Giá
                                    <i class="fa-solid fa-angle-down"></i>

                                    <div class="btn__sort-sub-price">
                                        <p class="sort-sub-price__text">Giá: Thấp đến Cao</p>
                                        <p class="sort-sub-price__text">Giá: Cao đến Thấp</p>
                                    </div>
                                </div>
                            </div>

                            <div class="product__sort-page">
                                <span class="product__sort-page-text"><span class="product__sort-page-current">1</span>/9</span>
                        <span class="btn__page btn--disabled">
                        <i class="fa-solid fa-angle-left"></i>
                        </span>
                        <span class="btn__page">
                        <i class="fa-solid fa-angle-right"></i>
                        </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2-4 products__item">
                                <a href="chitiet.html" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2-4 products__item">
                                <a href="chitiet.html" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2-4 products__item">
                                <a href="" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2-4 products__item">
                                <a href="" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2-4 products__item">
                                <a href="" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2-4 products__item">
                                <a href="" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2-4 products__item">
                                <a href="" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2-4 products__item">
                                <a href="" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2-4 products__item">
                                <a href="" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2-4 products__item">
                                <a href="" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2-4 products__item">
                                <a href="" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2-4 products__item">
                                <a href="" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2-4 products__item">
                                <a href="" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2-4 products__item">
                                <a href="" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-2-4 products__item">
                                <a href="" class="product">
                                    <div class="product__img">
                                        <img src="https://cf.shopee.vn/file/caf45ea010592c105375c89ed5b2774a_tn" alt="">
                                    </div>
                                    <div class="product__text">
                                        <p class="product__desc">
                                            Bông Tai Ngọc Trai Pha Lê Thiết Kế Nhiều Kiểu Thời Trang Hấp Dẫn
                                        </p>
                                        <div class="product__price">
                                            <span class="product__price--origin">5.000đ</span>
                                            <span class="product__price--current">3.500đ</span>
                                        </div>
                                        <div class="product__star">
                                            <span class="product__star-icon">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </span>
                                            <span class="product__star-text">Đã bán 125,5k</span>
                                        </div>
                                        <p class="product__address">Nước ngoài</p>
                                    </div>

                                    <!-- like + giảm giá -->
                                    <div class="product__love">Yêu thích</div>
                                    <div class="product__reduce-price">
                                        <div class="product__reduce-price-percent">30%</div>
                                        <div class="product__reduce-price-text">GIẢM</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pagination">
                    <span class="page__icon page--left">
                        <i class="fa-solid fa-angle-left"></i>
                    </span>
                    <div class="btn__page btn--primary">1</div>
                    <div class="btn__page">2</div>
                    <div class="btn__page">3</div>
                    <div class="btn__page">4</div>
                    <div class="btn__page">5</div>
                    <span class="page__icon page--right">
                        <i class="fa-solid fa-angle-right"></i>
                    </span>
                </div>
            </div>
        </div>

        <footer>
            <div class="grid">
                <div class="footer">
                    <div class="footer-boxs">
                        <div class="footer-box">
                            <h4 class="footer__title">CHĂM SÓC KHÁCH HÀNG</h4>
                            <ul class="footer__list">
                                <li><a href="">Trung Tâm Trợ Giúp</a></li>
                                <li><a href="">Cú Đêm Blog</a></li>
                                <li><a href="">Cú Đêm Mall</a></li>
                                <li><a href="">Hướng Dẫn Mua Hàng</a></li>
                                <li><a href="">Hướng Dẫn Bán Hàng</a></li>
                                <li><a href="">Thanh Toán</a></li>
                                <li><a href="">Cú Đêm Xu</a></li>
                            </ul>
                        </div>
                        <div class="footer-box">
                            <h4 class="footer__title">VỀ CÚ ĐÊM shop</h4>
                            <ul class="footer__list">
                                <li><a href="">Giới Thiệu</a></li>
                                <li><a href="">Tuyển Dụng</a></li>
                                <li><a href="">Điều Khoản</a></li>
                                <li><a href="">Chính Sách Bảo Mật</a></li>
                                <li><a href="">Chính Hãng</a></li>
                                <li><a href="">Kênh Người Bán</a></li>
                                <li><a href="">Flash Sales</a></li>
                            </ul>
                        </div>
                        <div class="footer-box">
                            <h4 class="footer__title">THANH TOÁN</h4>
                            <ul class="footer__list">
                                <li><a href=""><img src="https://cf.shopee.vn/file/d4bbea4570b93bfd5fc652ca82a262a8" alt=""></a></li>
                                <li><a href=""><img src="https://cf.shopee.vn/file/9263fa8c83628f5deff55e2a90758b06" alt=""></a></li>
                                <li><a href=""><img src="https://cf.shopee.vn/file/5e3f0bee86058637ff23cfdf2e14ca09" alt=""></a></li>
                                
                            </ul>
                        </div>
                        <div class="footer-box">
                            <h4 class="footer__title">THEO DÕI CHÚNG TÔI TRÊN</h4>
                            <ul class="footer__list">
                                <li><a href=""><i class="ti-facebook"></i> facebook</a></li>
                                <li><a href=""><i class="ti-instagram"></i> instagram</a></li>
                                
                            </ul>
                        </div>
                        <div class="footer-box">
                            <h4 class="footer__title">TẢI ỨNG DỤNG SHOPEE NGAY THÔI</h4>
                            <img src="images/header/QR-shopee.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="end">
                <p>Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc Khánh, Quận Ba Đình, Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn</p>
                <p>Chịu Trách Nhiệm Quản Lý Nội Dung: Đinh Tuấn Anh - Điện thoại liên hệ: 024 73081221 (ext 4678)</p>
                <p>Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015</p>
                <p >© 2015 - Bản quyền thuộc về Công ty TNHH Cú Đêm</p>
            </div>
        </footer>
    </div>
</body>
</html>