<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main__register">
        <div class="logo__register">
            <a href="" class="logo__register--link">
                <img src="images/banner_logo/cu_dem_pro.png" width="100px" height="100px" alt=""> <span class="logo__register--name"><span class="r9t8a1">CUDEM</span>.<span class="r9t8a2">PRO</span></span>
            </a>
        </div>

        <div class="from__register">
            <form action="" method="" enctype="multipart/form-data">
                <label for="">Họ Tên</label>
                <input type="text" name="ho_ten" class="register__input">

                <label for="">Password</label>
                <input type="password" name="mat_khau" class="register__input">

                <label for="">email</label>
                <input type="email" name="email" class="register__input">

                <label for="">Địa Chỉ</label>
                <input type="text" name="dia_chi" class="register__input">

                <label for="">avatar</label>
                <input type="file" name="hinh" class="register__input">

                <button type="submit" name="btn__register" class="btn--register">Đăng Kí</button>
            </form>
        </div>
    </div>
</body>
</html>