<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="main">
        <div class="menu">
            <div class="menu__logo">
                <div class="logo">
                    <a href="home.html"><img src="../images/banner_logo/cu_dem_pro.png" alt=""></a>
                </div>
                <div class="name__logo">
                    <h2>Cudem.<span class="pro">Pro</span></h2>
                </div>
            </div>
            
            <div class="title">
                <ul class="menu__title">
                    <li><a href="loai/loai.html">Loại Hàng</a></li>
                    <li><a href="sanpham/sanpham.html">Sản Phẩm</a></li>
                    <li><a href="giohang/giohang.html">Giỏ Hàng</a></li>
                    <li><a href="khachhang/khachhang.html">Khách Hàng</a></li>
                    <li><a href="binhluan/binhluan.html">Bình Luận</a></li>
                    <li><a href="thongke/thongke.html">Thống Kê</a></li>
                    <li><a href="#">Vào WEBSITE</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="header">
                <div class="user">
                    <div class="header__img-user">
                        <img src="../images/product/sp2.jpg" alt="">
                    </div>
                    <div class="header__name-user">
                        <p>Xin chào <span class="r9e80">Tuấn Anh</span></p>
                        <div class="logout">
                            <p><a href="#">Đăng Xuất</a>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="hello">
                <h1>QUẢN TRỊ WEBSITE</h1>
            </div>  
        </div>
    </div>
</body>

</html>